* {
    padding: 0;
    margin: 0;
}


.cadastr-containerL {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}

.cadastr-leftL {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.cadastr-leftL .LoginCadastro {
    position: absolute;
    width: 90vw;
    height: 100vh;
    margin-right: 60rem;
}

.cadastr-rightL {
    background-color: white;
    margin-left: 60rem;
    position: absolute;
    width: 100vh;
    height: 100vh;
}

.cadastr-rightL .Logo {
    display: inline-block;
    width: 4.5rem;
    margin-right: 2rem;
}

.cadastr-rightL h1 {
    font-size: 2rem;
    font-weight: bold;
    color: #496582;
    margin-top: 10rem;
    margin-bottom: 1rem;
    margin-left: 17.5rem;
}

.cadastr-rightL h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #496582;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 18rem;
}

.principLogin {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 1rem;
    margin-left: 8.5rem;
}

.input-socialEmail {
    width: 40%;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: 17.5rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-bottom: 0.5px solid rgba(151, 151, 151, 0.5);
}

.input-socialSenha {
    width: 40%;
    padding: 0.5rem;
    margin-top: 1rem;
    margin-left: 17.5rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-bottom: 0.5px solid rgba(151, 151, 151, 0.5);
}

.btn-googleL {
    width: 40%;
    padding: 0.5rem;
    margin-left: 17.5rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid rgba(151, 151, 151, 0.5);
    border-radius: 5px;
    cursor: pointer;
}

.btn-googleL .GoogleIconL {
    display: inline-block;
    width: 2.5rem;
    margin-right: 1rem;
}

.btn-conectar {
    width: 40%;
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    margin-left: 17.5rem;
    background-color: #00adee;
    color: white;
    border-radius: 5px;
}

.Ou {
    position: relative;
    margin-top: 2rem;
    margin-left: 28.5rem;
    margin-bottom: 2rem;
}

.btn-facebookL {
    width: 40%;
    padding: 0.5rem;
    margin-top: 1.5rem;
    margin-left: 17.5rem;
    background-color: #0f30b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-facebookL .FacebookIconL {
    display: inline-block;
    width: 2.5rem;
    font-size: 1.5rem;
}

.conecte {
    margin-left: 32rem;
}