@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.carrossel-container {
  background-image: url(../../assets/landingPage/background2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
  width: 100%;
}

.carrossel-titulo {
  font-size: 4rem;
  color: #002cdf;
  margin-left: 50px;
  margin-right: 45rem;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: bold;
}

.carrossel-area {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
  position: relative;
}

.carrossel-wrapper {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.carrossel-card {
  position: relative;
  margin-top: 3.5rem;
  width: 150rem;
  height: 35vh;
  overflow: hidden;
  border: 2px solid #000000;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  background-color: #fdec8a;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1.0);
}

.carrossel-card.ativo {
  position: relative;
  margin-top: 0.5rem;
  border: none;
  width: 150rem;
  height: 45vh;
  transform: scale(1.02);
  border: 0.5rem solid #cfb301;
}

.carrossel-imagem {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
}

.carrossel-nomeTrilha {
  margin-top: 10rem;
  position: absolute;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 28px;
  color: #ffffff;
  text-shadow: 0.2em 0.2em 0.5em black
}

.carrossel-subtitulo {
  margin-top: 40px;
  text-align: center;
  color: #555;
  font-size: 18px;
  font-weight: bold;
}

.text {
  color: #1e40af;
}

/* Botão setas nas laterais */
.carrossel-setalateralEsquerda {
  position: absolute;
  background: #d9b529;
  color: #7a6618;
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  cursor: pointer;
  margin-left: -1rem;
  margin-top: 13rem;
  z-index: 2;
  transition: background 0.3s;
}

.carrossel-setalateralDireita{
  position: absolute;
  background: #d9b529;
  color: #7a6618;
  border: none;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  font-size: 2rem;
  cursor: pointer;
  margin-top: 13rem;
  margin-left: 113.5rem;
  z-index: 2;
  transition: background 0.3s;
}

/* Responsividade para Smartphones */
@media (max-width: 600px) {
  .titulo {
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  .carrossel-card {
    width: 15%;
    height: 14rem;
  }

  .carrossel-card.ativo {
    width: 550%;
    height: 20rem;
  }

  .carrossel-nomeTrilha {
    font-size: 2rem;
    margin: 3rem auto;
    margin-top: 8rem;
  }

  .carrossel-subtitulo {
    font-size: 0.95rem;
  }

  .carrossel-setalateralEsquerda {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    margin-top: 10rem;
  }

  .carrossel-setalateralDireita {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    margin-top: 10rem;
    margin-left: 26.5rem;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .carrossel-container {
    padding: 30px 20px;
  }

  .carrossel-titulo {
    font-size: 2rem;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px; 
  }

  .carrossel-area {
    height: 40vh;
  }

  .carrossel-wrapper {
    display: flex;
    overflow-x: auto;
    width: 100%;
  }

  .carrossel-card {
    width: 40rem;
    height: 20rem;
    margin: 0 15px;
    border: 2px solid #000;
    background-color: #cccccc;
    transition: all 0.3s ease;
  }

  .carrossel-card.ativo {
    transform: scale(1.05);
    width: 45rem;
    height: 22rem;
  }

  .carrossel-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carrossel-nomeTrilha {
    font-size: 0.6rem;
    margin: 3rem auto;
    margin-top: 8rem;
  }

  .carrossel-seta.lateral {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: 0 20px;
  }
}

/* Responsividade para Tablets e Notebooks */
@media (min-width: 1001px) and (max-width: 1145px) {
  .carrossel-container {
    padding: 30px 20px;
  }

  .carrossel-titulo {
    font-size: 0.9rem;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px; 
  }

  .carrossel-area {
    height: 40vh;
  }

  .carrossel-wrapper {
    display: flex;
    overflow-x: auto;
    width: 100%;
  }

  .carrossel-card {
    width: 40rem;
    height: 20rem;
    margin: 0 15px;
    border: 2px solid #000;
    background-color: #cccccc;
    transition: all 0.3s ease;
  }

  .carrossel-card.ativo {
    transform: scale(1.05);
    width: 45rem;
    height: 22rem;
  }

  .carrossel-imagem {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .carrossel-nomeTrilha {
    font-size: 1.5rem;
    margin: 3rem auto;
    margin-top: 8rem;
  }

  .carrossel-seta.lateral {
    width: 50px;
    height: 50px;
    font-size: 24px;
    margin: 0 20px;
  }
}
