.container_login {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.container_login-img {
  width: 50%;
  height: 100vh;
  object-fit: cover;
}

.container_login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3%;
}
.container_login_form-titulo {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;

  font-size: 2rem;
  color: #496584;
  font-weight: 700;
}

.container_login_form-titulo img {
  width: 3rem;
  height: 3rem;
}

.container_login_form-subtitulo {
  font-size: 3rem;
  font-weight: 700;
  color: #496582;
}

.container_login_form-paragrafo {
  text-align: center;
  font-size: 1.5rem;
  padding: 0 10rem 0 10rem;
}

.btn-conecte {
  font-size: 1.3rem;
  font-weight: 500;
  width: 45%;
  height: 8%;
  background-color: #00aaff;
  color: white;
  border-radius: 5px;
}

.btn-conecte:hover {
  background-color: #496582;
}

.btn-google {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 45%;
  height: 8%;
  padding: 0px 4rem 0 1rem;

  border: solid 1px #555;
  border-radius: 5px;
}

.btn-google img {
  width: 48px;
  height: 48px;
}

.btn-google p {
  font-size: 1.6rem;
  color: #4a4a4a;
  font-weight: 400;
}

.btn-google:hover {
  background-color: #496584;
}

.btn-google:hover p {
  color: #fff;
}

.btn-facebook {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  width: 45%;
  height: 8%;
  padding: 0px 3.1rem 0 1rem;

  border: solid 1px #555;
  border-radius: 5px;

  color: #fff;
  background-color: var(--azul-secundario);
}

.btn-facebook img {
  width: 48px;
  height: 48px;
}

.btn-facebook:hover {
  background-color: #496584;
}

.btn-facebook p {
  font-size: 1.5rem;
  font-weight: 400;
}

.termos {
  font-size: 1rem;
  text-align: left;

  color: #888;
  padding: 0 15rem 0 16rem;
}

.termos a {
  font-size: 1rem;
  color: #007bff;
  text-decoration: none;
}

.termos a:hover {
  text-decoration: underline;
}

@media (max-width: 1790px) {
  .container_login_form {
    margin-top: 2rem;
  }

  .container_login_form-titulo {
    gap: 0.5rem;

    font-size: 2rem;
  }

  .container_login_form-titulo img {
    width: 2rem;
    height: 2rem;
  }

  .container_login_form-subtitulo {
    font-size: 2.5rem;
  }

  .container_login_form-paragrafo {
    text-align: center;
    font-size: 1.1rem;
    padding: 0 10rem 0 10rem;
  }

  .btn-conecte {
    font-size: 1.1rem;
    width: 45%;
    height: 8%;
  }

  .btn-google {
    padding: 0px 4rem 0 1rem;
  }

  .btn-google img {
    width: 32px;
    height: 32px;
  }

  .btn-google p {
    font-size: 1.2rem;
  }

  .btn-facebook {
    padding: 0px 3.2rem 0 1rem;
  }

  .btn-facebook img {
    width: 32px;
    height: 32px;
  }

  .btn-facebook p {
    font-size: 1.125rem;
  }

  .termos {
    font-size: 0.8rem;
    padding: 0 12rem 0 13rem;
  }

  .termos a {
    font-size: 0.8rem;
  }
}

@media (max-width: 1789px) {
  .container_login_form {
    gap: 2rem;
  }

  .container_login_form-titulo {
    gap: 0.5rem;
    font-size: 2rem;
  }

  .container_login_form-titulo img {
    width: 2rem;
    height: 2rem;
  }

  .container_login_form-subtitulo {
    font-size: 2.5rem;
  }

  .container_login_form-paragrafo {
    font-size: 1.5rem;
    padding: 0 10rem 0 10rem;
  }

  .btn-conecte {
    font-size: 1.2rem;
  }

  .btn-google {
    padding: 0px 4rem 0 1rem;
  }

  .btn-google p {
    font-size: 1.5rem;
  }

  .btn-facebook {
    padding: 0px 3.2rem 0 1rem;
  }

  .btn-facebook p {
    font-size: 1.4rem;
  }

  .termos {
    font-size: 1rem;
    padding: 0 13rem 0 14.8rem;
  }

  .termos a {
    font-size: 1rem;
  }
}

@media (max-width: 1635px) {
  .container_login-img {
    width: 60%;
    height: 100vh;
    object-fit: cover;
  }
  .container_login_form {
    gap: 1rem;
  }

  .container_login_form-titulo {
    gap: 0.5rem;
    font-size: 1.5rem;
  }

  .container_login_form-subtitulo {
    font-size: 2rem;
  }

  .container_login_form-paragrafo {
    font-size: 1.2rem;
    padding: 0 6rem 0 6rem;
  }

  .btn-conecte {
    font-size: 1.1rem;
    width: 60%;
  }

  .btn-google {
    padding: 0px 5.4rem 0 1rem;
    width: 60%;
  }

  .btn-google p {
    font-size: 1.2rem;
  }

  .btn-facebook {
    padding: 0px 4rem 0 1rem;
    width: 60%;
  }

  .btn-facebook p {
    font-size: 1.2rem;
  }

  .termos {
    font-size: 1rem;
    padding: 0 5rem 0 7.5rem;
  }

  .termos a {
    font-size: 1rem;
  }
}

@media (max-width: 1450px) {
  .container_login {
    flex-direction: column;
  }
  .container_login-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .container_login_form {
    gap: 2rem;
  }

  .container_login_form-titulo {
    gap: 1rem;
    font-size: 3rem;
  }

  .container_login_form-titulo img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .container_login_form-subtitulo {
    font-size: 4rem;
  }

  .container_login_form-paragrafo {
    font-size: 2rem;
    font-weight: 300;
    padding: 0 20rem 0 20rem;
  }

  .btn-conecte {
    font-size: 2rem;
    width: 50%;
    height: 10vh;
    border-radius: 10px;
  }

  .btn-google {
    padding: 0px 10rem 0 3rem;
    width: 50%;
    height: 10vh;
    border-radius: 10px;
  }

  .btn-google img {
    width: 64px;
    height: 64px;
  }

  .btn-google p {
    font-size: 2rem;
    font-weight: 400;
  }

  .btn-facebook {
    padding: 0px 8rem 0 3rem;
    width: 50%;
    height: 10vh;
    border-radius: 10px;
  }

  .btn-facebook img {
    width: 64px;
    height: 64px;
  }

  .btn-facebook p {
    font-size: 2rem;
    font-weight: 400;
  }

  .termos {
    font-size: 1.8rem;
    padding: 0 15rem 0 20rem;
  }

  .termos a {
    font-size: 1.8rem;
  }
}
