.container-bookingCards {
  background-image: url(../../assets/../assets/background/background-claro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.color-heart {
  background-color: blue;
}

.color-heart:hover {
  color: blue;
  background-color: white;
}