.container-bookingCards {
  background-image: url(../../assets/background/background-claro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.color-heart {
  background-color: blue;
}

.color-heart:hover {
  color: blue;
  background-color: white;
}

.textoBookingCard {
  color: rgb(0, 102, 255);
  margin-left: 2.5rem;
}

@media (max-width: 768px) {
  .textoBookingCard {
    margin-left: 1rem;
  }  
}