.cards-cidades__header {
  margin-top: 8rem;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.cards-cidades__title {
  font-size: 3rem;
  color: #0033cc;
  font-weight: bold;
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.cards-cidades__subtitle {
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: #555;
}

.cards-cidades {
  display: flex;
  flex-direction: row;
  margin-left: 2rem;
  gap: 3rem;
}

/* Ainda não finalizei */
@media (min-width: 320px) and (max-width: 540px) {
  .cards-cidades__title {
    font-size: 0.5rem;
    color: #0033cc;
    font-weight: bold;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
  }

  .cards-cidades {
    overflow-x: auto !important;
  }

  .cards-cidades .model-card__favorite-button {
    position: relative;
    margin-left: 13rem;
    margin-top: 0px;
    border-radius: 9999px;
    cursor: pointer;
  }

  .cards-cidades .model-card__favorite-button svg {
    position: absolute;
    margin-top: 8px;
  }
}
