.minhas-trilhas__page-container {
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  margin-top: 8rem;
}

.minhas-trilhas__main-title {
  text-align: center !important;
  font-size: 3rem !important;
  color: #0033cc !important;
  font-weight: 900 !important;
  margin-bottom: 0.5rem;
}

.minhas-trilhas__subtitle {
  text-align: center !important;
  margin-bottom: 1.5rem;
}

/*
.minhas-trilhas__loading-text {
   Estilos para Typography de carregamento 
}

.minhas-trilhas__no-trilhas-text {
   Estilos para Typography quando não há trilhas
}
*/

.minhas-trilhas__trilha-item {
  margin-bottom: 2.5rem;
  padding: 1.5rem;
  border-width: 1px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: #ffffff;
}

.minhas-trilhas__trilha-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.minhas-trilhas__trilha-title {
  align-self: start !important;
}

.minhas-trilhas__trilha-actions {
  display: flex;
  gap: 0.5rem;
}

.minhas-trilhas__action-button-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.minhas-trilhas__trilha-description-container {
  color: #4b5563;
  margin-bottom: 1.5rem;
}

/* .minhas-trilhas__empty-trilha-text {
   Estilos para Typography de trilha vazia 
} */

.minhas-trilhas__cards {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  overflow-x: auto;
}

@media (min-width: 320px) and (max-width: 800px) {
  /* Estilização para controlar os títulos das trilhas criadas com a semantica do Markdown */
  /* h1 {
    font-size: 1.5rem !important;
    font-weight: 900 !important;
  }

  h2 {
    font-size: 1.4rem !important;
    font-weight: 800 !important;
  }

  h3 {
    font-size: 1.3rem !important;
    font-weight: 700 !important;
  }

  p {
    font-size: 0.9rem !important;
    font-weight: 400 !important;
  } */

  .minhas-trilhas__main-title {
    font-size: 2rem !important;
  }

  .minhas-trilhas__subtitle {
    font-size: 0.8rem !important;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .minhas-trilhas__trilha-header {
    display: flex;
    flex-direction: column-reverse;
  }

  .minhas-trilhas__trilha-actions {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    gap: 1rem;
    margin-bottom: 1.5rem;
  }

  .minhas-trilhas__action-button-icon {
    width: 1rem !important;
    height: 1rem !important;
  }

  .minhas-trilhas__trilha-description-container {
    margin-bottom: 1rem;
  }
}
