@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

.Logo {
    background-image: url(../../assets/landingPage/Logo.jpg);
    background-size: cover;
}

.TituloLogo {
    color: #002cdf;
    font-weight: bold;
    font-size: 18.9px;
}

.Navbar {
    color: #002cdf;
}

.Botões{
    background-color: #002cdf;
    color: #fff;
    border-radius: 40px;
    width: 160px;
}