.Logo {
  margin-left: 2rem;
  width: 3rem;
  height: 3rem;
  border: 50%;
}

.TituloLogo {
  color: #002cdf;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.Navbar {
  display: flex;
  flex-direction: row;
  gap: 5rem;
  margin-right: 5rem;
  color: #002cdf;
}

.NavbarMobile {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #002cdf;
}

.menu-buttons {
    display: flex;
}

.menu-buttonsHamb {
  display: none;
}

.BotaoLogin {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  color: #002cdf;
  border: 1px solid #b4b4b4;
  border-radius: 2rem;
  width: 7rem;
  height: 2.5rem;
  margin-right: 2rem;
}

.BotaoLogin:hover {
  align-items: center;
  justify-content: center;
  background-color: #002cdf;
  color: #fff;
  border: 2px solid #b4b4b4;
}

.BotaoLoginHamb {
  position: relative;
  background-color: #ffffff;
  color: #002cdf;
  border: 1px solid #b4b4b4;
  border-radius: 2rem;
  width: 7rem;
  height: 2.5rem;
}

.BotaoCadastroHamb {
  margin-right: 2.5rem;
  position: relative;
  background-color: #002cdf;
  color: #fff;
  border-radius: 40px;
  width: 10rem;
  height: 2, 5rem;
}

/* Oculta o menu hamburguer em desktop */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  margin-right: 1rem;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background-color: #002cdf;
  margin: 3px 0;
  transition: 0.4s;
}

@media (min-width: 0px) and (max-width: 1360px) {
  nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 65px;
    right: 20px;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 99;
    gap: 12px;
  }

  nav.active {
    display: flex;
  }

  .menu-toggle {
    display: flex;
  }

  .botoes-desktop {
    display: none;
  }

  .menu-buttons {
    display: none;
    flex-direction: row;
    gap: 12px;
    margin-top: 10px;
  }

  .menu-buttonsHamb {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 10px;
  }
}