.local-container {
  background-image: url(../../../../assets/background/background-claro.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 6rem;
  margin-left: 3rem;
}

.w-full {
  width: 93%;
}