.cadastr-container {
    width: 100vw;
    height: 71.2vh;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    padding: 0;
    margin: 0;
}

.cadastr-left {
    position: absolute;
    background-image: url(../../assets/landingPage/cadastro.png) no-repeat center center;
    width: 100vh;   
}

.cadastr-right {
    background-color: white;    
    margin-left: 60rem;
    position: absolute;
    width: 100vh;
    height: 72vh;
}

.cadastr-right h1 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #496582;
    margin-top: 5rem;
    margin-bottom: 1rem;
    margin-left: 22rem;
}

.cadastr-right h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #496582;
    margin-bottom: 1rem;
    margin-left: 18rem;
}

.principLogin {
    font-size: 14px;
    color: #555;
    margin-bottom: 20px;
    margin-left: 8.5rem;
}

.btn-azul {
    width: 40%;
    padding: 12px;
    background-color: #00aaff;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 17.5rem;
    cursor: pointer;
}

.input-social {
    width: 40%;
    padding: 12px;
    margin-bottom: 10px;
    margin-left: 17.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.btn-conectar {
    width: 40%;
    padding: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 17.5rem;
    background-color: #00adee;
    color: white;
    border-radius: 5px;
}

.Ou {
    margin-left: 28.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-facebook {
    width: 40%;
    padding: 12px;
    margin-left: 17.5rem;
    background-color: #0f30b6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.conecte {
    margin-left: 32rem;
}