.SecaoPrincipal {
    background-image: url(../../assets/landingPage/BackgroundLandingPage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-top: 50px;
}

.SecaoPrincipal h1 {
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 42.9px;
    margin-top: 100px;
}

.SecaoPrincipal p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16.2px;
    margin-top: 20px;
    margin-right: 1050px;
}

.Aventure-se{
    background-color: #56faff;
    color: #2423a3;
    font-weight: bold;
    border-radius: 40px;
    width: 160px;
    height: 40px;
    margin-left: 100px;
    margin-top: 30px;
}

.Pin {
   width: 580px;
   float: right;
   display: flex;
   margin-top: -320px;
   margin-right: 77px;
}
