.SecaoPrincipal {
  background-image: url(../../assets/landingPage/BackgroundLandingPage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 50px;
}

.SecaoPrincipal h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 28.9px;
  margin-top: 30px;
  margin-right: 670px;
}

.SecaoPrincipal p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12.2px;
  margin-top: 20px;
  margin-right: 700px;
}

.Aventure-se {
  background-color: #56faff;
  color: #2423a3;
  font-weight: bold;
  border-radius: 40px;
  width: 160px;
  height: 40px;
  margin-left: 100px;
  margin-top: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.Pin {
  width: 380px;
  float: right;
  display: flex;
  margin-top: -250px;
  margin-right: 140px;
}
