.SecaoPrincipal {
  background-image: url(../../assets/banner/background-banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 2.5rem;
}

.SecaoPrincipal h1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 4rem;
  margin-top: 6rem;
  margin-left: 8.5rem;
}

.SecaoPrincipal p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 8.5rem;
}

.Aventure-se {
  background-color: #56faff;
  color: #2423a3;
  font-weight: bold;
  border-radius: 1rem;
  width: 13rem;
  height: 3rem;
  margin-left: 18rem;
  margin-top: 1.5rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.372);
}

.Aventure-se span {
  display: inline-block;
  margin-left: 1rem;
  background: #2423a3;
  color: #56faff;
  border: none;
  border-radius: 1.5rem;
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 2;
}

.Pin {
  position: relative;
  margin-top: 10rem;
  margin-right: 14rem;
  background-image: url(../../assets/banner/mulher-banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  box-shadow: 0 0 4rem rgb(0, 30, 255);
}

@media (min-width: 1161px) and (max-width: 1524px) {
  .Pin {
    width: 25rem;
    height: 25rem;
  }
}

@media (min-width: 769px) and (max-width: 1160px) {
  .Pin {
    width: 15rem;
    height: 15rem;
  }
}

@media (max-width: 768px) {
  .SecaoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
  }

  .SecaoPrincipal h1 {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-top: -12rem;
  }

  .SecaoPrincipal p {
    font-size: 1rem;
    margin-left: -1rem;
    margin-right: 15rem;
  }

  .Aventure-se {
    margin-left: 6rem;
    margin-top: 2rem;
  }

  .Pin {
    width: 15rem;
    height: 15rem;
    margin: 2rem auto 0;
    margin-top: -2rem;
    margin-left: 11rem;
  }

  .Pin img {
    width: 80%;
    max-width: 300px;
    height: auto;
  }
}