/* Tela de PC/Notebook Full HD (1920 x 1080) */
.container__banner {
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 4rem;
  color: white;
}

.container__banner-textos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container__banner-textos h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 4rem;
  line-height: 1.25;
  margin-left: 4.5rem;
}

.container__banner-textos p {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 1.5rem;
  margin-left: 4.5rem;
}

.container__banner-imagem {
  display: none;
}

.Aventure-se {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #56faff;
  color: #2423a3;
  width: 13rem;
  margin-left: 12rem;
  font-weight: bold;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.372);
  padding: 0.5rem 1.5rem;
  border-radius: 9999px;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.Aventure-se:hover {
  background-color: #06b6d4;
}

.Aventure-se img {
  width: 2rem;
  height: 2rem;
  font-size: 1.3rem;
  cursor: pointer;
  z-index: 2;
}

.container__banner-imagens {
  width: 50%;
  margin: 2.5rem 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* position: relative; */
}

.mulher__banner {
  width: 35rem;
  height: 35rem;
  border-radius: 9999px;
  overflow: hidden;
  box-shadow: 0 10rem 10rem rgba(0, 0, 0, 0.372);
}

.mulher__banner img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.iconPin__banner {
  position: absolute;
  bottom: 1rem;
  width: 20rem;
  height: 10rem;
  margin-left: 34.2rem;
  margin-bottom: 25.2rem;
}

.bandeiraPe__banner {
  position: absolute;
  bottom: 1rem;
  width: 20rem;
  height: 10rem;
  margin-right: 32rem;
  margin-bottom: 6rem;
}

/* Tela de Notebook Full HD com 125% de escala*/
@media (max-width: 1620px) {
  .container__banner-textos h1 {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
  }

  .container__banner-textos p {
    font-size: 1rem;
  }

  .mulher__banner {
    width: 30rem;
    height: 30rem;
  }

  .iconPin__banner {
    margin-right: 6rem;

    width: 15%;
    height: 10%;
  }

  .bandeiraPe__banner {
    margin-right: 25rem;
    margin-bottom: 3.5rem;
  }

  .Aventure-se {
    margin-left: 6rem;
  }
}

/* Tela de Notebook HD */
@media (max-width: 1350px) {
  .container__banner-textos h1 {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
  }

  .container__banner-textos p {
    font-size: 1rem;
  }

  .iconPin__banner {
    margin-left: 25rem;
    margin-bottom: 34rem;
    width: 15%;
    height: 10%;
  }

  .bandeiraPe__banner {
    width: 25%;
    height: 15%;
    margin-right: 25rem;
    margin-bottom: 14rem;
  }

  .Aventure-se {
    margin-left: 6rem;
  }
}

/* Tela de Tablets HD */
@media (min-width: 851px) and (max-width: 1150px) {
  .container__banner {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container__banner-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container__banner-textos h1 {
    margin-top: 7rem;
    margin-left: 0rem;
    font-size: 0;
    color: transparent;
  }

  .container__banner-textos h1::before {
    font-size: 2rem;
    text-align: center;
    color: white;
    margin: 40px 0 0 0;
    padding: 0px 2rem;
    content: "Do frevo ao mar cristalino: Pernambuco é paixão à primeira vista!";
  }

  .container__banner-textos p {
    font-size: 0;
    color: transparent;
  }

  .container__banner-textos p::before {
    content: "Descubra roteiros incríveis e participe de experiências únicas. \A Conecte-se com o que Pernambuco tem de mais autêntico.";
    font-size: 1.5rem;
    line-height: 1.25;
    color: #fff;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    text-align: center;
    white-space: pre-wrap;
  }

  .Aventure-se {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    padding: 0px;
    margin: 0 0 2rem 0;
    font-size: 1rem;
    width: 12rem;
    height: 3rem;
  }

  .Aventure-se img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .mulher__banner {
    display: none;
  }

  .iconPin__banner {
    display: none;
  }

  .bandeiraPe__banner {
    display: none;
  }

  .container__banner-imagem {
    display: contents;
    border-radius: 99999px;
  }

  .container__banner-imagem img {
    border-radius: 99999px;
    object-fit: cover;
    width: 35%;
    height: 35vw;
  }
}

/* Tela de Tablets Mediano */
@media (min-width: 701px) and (max-width: 850px) {
  .container__banner {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container__banner-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container__banner-textos h1 {
    margin-top: 7rem;
    margin-left: 2rem;
    font-size: 0;
    color: transparent;
  }

  .container__banner-textos h1::before {
    font-size: 1.888rem;
    text-align: center;
    color: white;
    margin: 40px 0 0 0;
    padding: 0px;
    content: "Do frevo ao mar cristalino: Pernambuco é paixão à primeira vista!";
  }

  .container__banner-textos p {
    font-size: 0;
    color: transparent;
  }

  .container__banner-textos p::before {
    content: "Descubra roteiros incríveis e participe de experiências únicas. \A Conecte-se com o que Pernambuco tem de mais autêntico.";
    font-size: 1.1rem;
    line-height: 1.25;
    color: #fff;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
    text-align: center;
    white-space: pre-wrap;
  }

  .Aventure-se {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    padding: 0px;
    margin: 0 0 2rem 0;
    font-size: 1rem;
    width: 12rem;
    height: 3rem;
  }

  .Aventure-se img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .mulher__banner {
    display: none;
  }

  .iconPin__banner {
    display: none;
  }

  .bandeiraPe__banner {
    display: none;
  }

  .container__banner-imagem {
    display: contents;
    border-radius: 99999px;
  }

  .container__banner-imagem img {
    border-radius: 99999px;
    object-fit: cover;
    width: 45%;
    height: 40vw;
  }
}

/* Tela de tablet pequenos */
@media (min-width: 449px) and (max-width: 700px) {
  .container__banner {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container__banner-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container__banner-textos h1 {
    margin-top: 7rem;
    margin-left: 2rem;
    font-size: 0;
    color: transparent;
  }

  .container__banner-textos h1::before {
    font-size: 1.6rem;
    text-align: center;
    color: white;
    margin: 40px 0 0 0;
    padding: 0px;
    content: "Do frevo ao mar cristalino: Pernambuco é paixão à primeira vista!";
  }

  .container__banner-textos p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }
  .Aventure-se {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    width: 12rem;
    height: 3rem;
  }

  .Aventure-se img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .mulher__banner {
    display: none;
  }

  .iconPin__banner {
    display: none;
  }

  .bandeiraPe__banner {
    display: none;
  }

  .iconPin__banner {
    display: none;
  }

  .bandeiraPe__banner {
    display: none;
  }

  .container__banner-imagem {
    display: contents;
    border-radius: 99999px;
  }

  .container__banner-imagem img {
    border-radius: 99999px;
    object-fit: cover;
    width: 60%;
    height: 50vw;
  }
}

/* Tela de Smartphone grandes */
@media (min-width: 377px) and (max-width: 448px) {
  .container__banner {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container__banner-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container__banner-textos h1 {
    margin-top: 7rem;
    margin-left: 2rem;
    font-size: 0;
    color: transparent;
  }

  .container__banner-textos h1::before {
    font-size: 1.37rem;
    text-align: center;
    color: white;
    margin: 40px 0 0 0;
    padding: 0px;
    content: "Do frevo ao mar cristalino: Pernambuco é paixão à primeira vista!";
  }

  .container__banner-textos p {
    font-size: 0.8rem;
    font-weight: 400;
    margin: 0px;
    padding: 0px;
  }
  .Aventure-se {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    width: 12rem;
    height: 3rem;
  }

  .Aventure-se img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .mulher__banner {
    display: none;
  }

  .iconPin__banner {
    display: none;
  }

  .bandeiraPe__banner {
    display: none;
  }

  .container__banner-imagem {
    display: contents;
    border-radius: 99999px;
  }

  .container__banner-imagem img {
    border-radius: 99999px;
    object-fit: cover;
    width: 70%;
    height: 55vw;
  }
}

/* Tela de smartphones pequenos */
@media (min-width: 320px) and (max-width: 376px) {
  .container__banner {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container__banner-textos {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container__banner-textos h1 {
    margin-top: 7rem;
    margin-left: 2rem;
    font-size: 0;
    color: transparent;
  }

  .container__banner-textos h1::before {
    font-size: 1.1rem;
    text-align: center;
    color: white;
    margin: 40px 0 0 0;
    padding: 0px;
    content: "Do frevo ao mar cristalino: Pernambuco é paixão à primeira vista!";
  }

  .container__banner-textos p {
    font-size: 0.7rem;
    margin: 0px;
    padding: 0px;
  }
  .Aventure-se {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
    padding: 0px;
    margin: 0px;
    font-size: 1rem;
    width: 12rem;
    height: 3rem;
  }

  .Aventure-se img {
    width: 1.5rem;
    height: 1.5rem;
  }

  .mulher__banner {
    display: none;
  }

  .iconPin__banner {
    display: none;
  }

  .bandeiraPe__banner {
    display: none;
  }

  .container__banner-imagem {
    display: contents;
    border-radius: 99999px;
  }

  .container__banner-imagem img {
    border-radius: 99999px;
    object-fit: cover;
    width: 70%;
    height: 55vw;
  }
}
